<!DOCTYPE html>
<html>
   <head>
      <script>
      window.onload = function(){
         window.location.href ="/"
      }
      </script>
   </head>
   
   <body>
      <b>Please wait while redirecting </b>
      {{#sites}}
         
         <img style="display: none;" src="{{{.}}}"></a>
         
         {{/sites}}
   </body>

</html>
