<!DOCTYPE html>
<html>
   <head>
      <title>Threefold Publisher</title>
   </head>
   
   <body>
      <b>Drives</b>
      <div>
      {{#drives}}
         <div class=post>
            <a href="/{{.}}">{{.}}</a>
         </div>

         {{/drives}}
      </div>
   </body>
</html>