<!DOCTYPE html>
<html>
   <head>
      <title>Threefold Publisher</title>
   </head>
   
   <body>
      <b>Sites</b>
      <div>
      {{#sites}}
         <div >
            <a href="//{{.}}:{{port}}">{{.}}:{{port}}</a>
         </div>

         {{/sites}}
      </div>

      <b>Wikis</b>
      <div>
      {{#wikis}}
         <div >
            <a href="//{{.}}:{{port}}">{{.}}:{{port}}</a>
         </div>

         {{/wikis}}
      </div>
   </body>
</html>