<!DOCTYPE html>
<html>
   <head>
      <title>Sites</title>
   </head>
   
   <body>
      <b>SITES</b>
      <div>
      {{#sites}}
         <div class=post>
            <a class=topic href="{{url}}}">{{name}}</a>
         </div>

         {{/sites}}
      </div>

      <br/>
      <br/>
       <b>WIKIS</b>
      <div>
         <table style="width:100%;border-collapse: collapse;table-layout: fixed;">
            <tr>
               <th>Wiki</th>
               <th>Error Link</th>
            </tr>
            {{#wikis}}
            <tr>
               <td><a href="{{url}}">{{name}}</a></td>
               <td><a href="{{err}}">Error</a></td>
               
            </tr>
            {{/wikis}}
         </table>

    
      </div>
   </body>
</html>
